* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'bigDots';
    src: url('../../../content/tela_06/fontes/bigdots/BigDots.ttf') format('truetype')
}

@font-face {
    font-family: 'agency';
    src: url('../../../content/tela_06/fontes/agency/AGENCYR.TTF') format('truetype')
}

@font-face {
    font-family: 'eurostyle';
    src: url('../../../content/tela_06/fontes/eurostile/Eurostib.TTF') format('truetype')
}
  

#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: url('../../../content/tela_06/cenario.svg');
    background-size: cover;
}

#doubt_button{
    display: none;
}
#time_panel{
    display: none;
}
#image_magician{
    display: none;
}
#magician_panel{
    display: none;
}
#you_panel{
    display: none;
}
#word_panel{
    display: none;
}
#cartola{
    display: none;
}